# lightning.pytorch==2.1.1
seed_everything: 20250624
trainer:
  fast_dev_run: false
  num_sanity_val_steps: 0
  accelerator: auto
  strategy: auto
  devices: auto
  num_nodes: 1
  precision: 16-mixed
  logger:
    - class_path: lightning.pytorch.loggers.WandbLogger
      init_args:
        project: "arctic-sea-ice" 
        #name: "terramind-floe"
        save_dir: "output/wandb/floe"
        log_model: true
  callbacks:
    - class_path: src.utils.EpochShuffle
    - class_path: RichProgressBar
    - class_path: LearningRateMonitor
      init_args:
        logging_interval: epoch
    - class_path: src.utils.WandBConfigCallback
    - class_path: ModelCheckpoint
      init_args:
        monitor: val/Multiclass_Jaccard_Index
        mode: max
        save_top_k: 1
    - class_path: EarlyStopping
      init_args:
        monitor: val/loss
        patience: 10 
        min_delta: 0.0005
        strict: false
        check_on_train_epoch_end: false
  max_epochs: 100
  log_every_n_steps: 5
  default_root_dir: output/ArcticSeaIce-FLOE/

data:
  class_path: src.datasets.arctic_sea_ice.ArcticSeaIceDataModule
  init_args:
    batch_size: 64 
    num_workers: 8
    data_root: /work/ka1176/caroline/gitlab/terramind-demo/data/arctic_sea_ice
    patch_size: 768
    target: FLOE
    samples_per_chart: 10
    renormalize: false
    chart_weights: /work/ka1176/caroline/gitlab/terramind-demo/data/arctic_sea_ice/train/chart_weights.csv

model:
  class_path: terratorch.tasks.SemanticSegmentationTask
  init_args:
    model_factory: EncoderDecoderFactory
    model_args:
      backbone: UNet
      backbone_pretrained: None
      backbone_in_channels: 2
      backbone_out_channels: 32
      backbone_num_stages: 8
      backbone_strides: [1, 1, 1, 1, 1, 1, 1, 1]
      backbone_enc_num_convs: [2, 2, 2, 2, 2, 2, 2, 2]
      backbone_enc_dilations: [1, 1, 1, 1, 1, 1, 1, 1]
      backbone_dec_num_convs: [2, 2, 2, 2, 2, 2, 2]
      backbone_dec_dilations: [1, 1, 1, 1, 1, 1, 1]
      backbone_downsamples: [true, true, true, true, true, true, true]

      decoder: IdentityDecoder

      head_dropout: 0.1
      num_classes: 7
    loss: ce 
    ignore_index: -1
    class_weights: [0.0664, 10.5, 1.61, 1.00, 0.663, 0.193, 29.1]
    plot_on_val: false
    freeze_backbone: false
    freeze_decoder: false
    tiled_inference_on_testing: true
    tiled_inference_parameters:
      h_crop: 512
      h_stride: 256
      w_crop: 512
      w_stride: 256
      average_patches: true
    class_names:
      - "0: Open-water"
      - "1: Cake ice"
      - "2: Small floe"
      - "3: Medium floe"
      - "4: Big floe"
      - "5: Vast floe"
      - "6: Bergs"

optimizer:
  class_path: torch.optim.AdamW
  init_args:
    lr: 1.0e-3
lr_scheduler:
  class_path: ReduceLROnPlateau
  init_args:
    monitor: val/loss
    factor: 0.5
    patience: 5
